{% extends 'SurveyBundle::layout2.html.twig' %}

{% set title = 'Survey - new entry'|trans %}


{% block content %}
  {{ parent() }}
 
   
    
<div class="row">
    <div class="span4">
        <form action="{{ path('survey_create') }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}
    {{ form_row(form.name, { 'label' : 'Prostor', 'attr' : {  'class' : 'span2 chzn-select', 'onchange':"if(document.images) document.images['flag'].src='../../images/flags/'+this.options[this.selectedIndex].value+'.gif';" }})}}
    {{ form_row(form.temperature, { 'label' : 'Temperatura' }) }}
    {{ form_row(form.moisture, { 'label' : 'Vlaga' }) }}
    
    
 
<div id="demo" class="collapse">

    {{ form_row(form.note, { 'label' : 'Opomba', 'attr' : { 'class' : 'span2'} }) }}
    {{ form_row(form.date, { 'label' : 'Datum vpisovanja' }) }}
    {{ form_row(form.time, { 'label' : 'Čas vpisa'} ) }}
    {{ form_widget(form) }}

</div>

            <div class="btn-group" data-toggle="buttons-checkbox">
                <button class="btn btn-success" type="submit" formnovalidate><i class="icon-pencil"></i> Zapiši</button>
                <a class="btn  btn-warning record_actions" href="{{ path('survey') }}"><i class="icon-refresh"></i> Obrni</a>
                <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo"><i class="icon-plus"></i> ...več</button>
            </div>    

        </form>



    </div>
    <div class="hidden-phone span3">
        <img id="flag" src="../../images/flags/trgovina.gif" class="img-circle" />
    </div>
</div>




{% endblock content %}