{% extends 'SurveyBundle::layout2.html.twig' %}

{% set title = 'Survey - new entry'|trans %}
{% block content %}
  {{ parent() }}

<div class="row">
    <div class="span4">
        <form action="{{ path('survey_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {# for testing insert by nameautoescape
            {{ form_row(form.name) }}
          #}               
      {% if default is defined  %}
          {% if default == "empty" %}       
             {{ form_row(form.name, { 'label' : 'Prostor', 'attr' : {'tabindex': '1',  'autofocus' : 'autofocus', 'class' : 'span3 chzn-select', 'onchange':"if(document.images) document.images['flag'].src='../../images/flags/'+this.options[this.selectedIndex].value+'.gif';" }})}}
          {% else %}
                <p class="lead">{{ default }}</p>
          {% endif %}
      {% endif %}

  {{ form_row(form.temperature, { 'label' : 'Temperatura:' , 'attr':{'tabindex': '2', 'class':'span3'} }) }}
    {{ form_row(form.moisture, { 'label' : 'Vlaga:' , 'attr':{'tabindex': '3','class':'span3'} }) }}
                <div id="demo" class="collapse">
    {{ form_row(form.note, { 'label' : 'Opomba', 'attr' : { 'tabindex': '7',  'class' : 'span2'} }) }}
    {{ form_row(form.date, { 'label' : 'Datum vpisovanja' , 'attr' : { 'tabindex': '8'}   }) }}
    {{ form_row(form.time, { 'label' : 'Čas vpisa' , 'attr' : { 'tabindex': '9'} } ) }}
    {{ form_widget(form) }}
                    </div>
                    <div class="btn-group" data-toggle="buttons-checkbox">
                        <button class="btn btn-success" tabindex="4" type="submit" formnovalidate><i class="icon-pencil"></i>{{ 'Submit'|trans }}</button>
                        <a class="btn  btn-warning record_actions" tabindex="5" href="{{ path('survey') }}"><i class="icon-refresh"></i> {{ 'Turn'|trans }}</a>
                        <button type="button" class="btn btn-danger" tabindex="6" data-toggle="collapse" data-target="#demo"><i class="icon-plus"></i> ...več</button>
                    </div>    
                </form>
            </div>
            <div class="hidden-phone span3">
                <img id="flag" src="../../images/flags/trgovina.gif" class="img-circle" />
            </div>
        </div>




{% endblock content %}